PORT=3000
JWT_SECRET=super_secret_production_key_2026
ADMIN_EMAIL=shankaranv161@gmail.com
ADMIN_PASSWORD=H@rd2believe
GOOGLE_SHEET_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbxHam-deLo7wkdWEC9mWe3YHFHpoFwvBibAdWFOS6zsgavwT5W0ub93srkeHlJsMAWf/exec
